# ---------------------------------------
# ARCHIVOS / CARPETAS DE ANDROID / GRADLE
# ---------------------------------------
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ---------------------------------------
# NODE DEPENDENCIES
# ---------------------------------------
node_modules/

# ---------------------------------------
# EXPO
# ---------------------------------------
.expo/
dist/
web-build/
expo-env.d.ts

# ---------------------------------------
# NATIVO (IOS / ANDROID KEYS)
# ---------------------------------------
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ---------------------------------------
# METRO
# ---------------------------------------
.metro-health-check*

# ---------------------------------------
# LOGS
# ---------------------------------------
npm-debug.*
yarn-debug.*
yarn-error.*

# ---------------------------------------
# MACOS
# ---------------------------------------
.DS_Store
*.pem

# ---------------------------------------
# ENV VARIABLES
# ---------------------------------------
.env*.local

# ---------------------------------------
# TYPESCRIPT
# ---------------------------------------
*.tsbuildinfo

# ---------------------------------------
# VS CODE
# ---------------------------------------
.vscode/

app-example

# =======================================
#     AQUI EMPIEZA LO DE C# / .NET
# =======================================

# Compiled binaries
bin/
obj/

# Visual Studio files
*.user
*.suo
*.cache
*.pdb

# Build artifacts
*.exe
*.dll
*.dbmdl

# Publish folder
/publish/
/wwwroot/dist/
/wwwroot/build/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Resharper / Rider
_ReSharper*/
*.DotSettings.user

# SQL database local
*.mdf
*.ldf

# Visual Studio backup files
*.bak
*.tmp

# NuGet Packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# DotNet Tools
.dotnet/

# Logs
*.log

# VS 2022 metadata
.vs/

# Azure
.azure/
