@import "tailwindcss";


.links {
  @apply flex items-center my-2 gap-3 py-2 px-2 
         w-[270px] rounded-[10px] 
         bg-[#f3f3f3] hover:bg-gradient-to-r 
         hover:from-[#0da5d6] hover:to-[#00f2fe]
         cursor-pointer transition-all duration-900
         hover:scale-[1.06] hover:shadow-gray-500 hover:shadow-2xl
         ;
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 300 400 600;
  font-display: swap;
  src: url("../Outfit/static/Outfit-Regular.ttf") format("woff2");
}
  

@theme {
 
  --font-Outfit: Outfit;
}